@import "./assets/scss/bootstrap.scss";

.App {
}

.App-link {
  //color: #61dafb;
  color: #2CB2FE;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo {
  height: 32px;
  width: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
